body {
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}

button {
    background-color: rgb(112, 178, 231);
    padding: 7px;
}

button:hover {
    border: solid;
    border-color: blue;
}

div {
    margin-top: 40px;
    padding-top: 40px;
}

li {
    padding: 10px;
}

header {
    margin-top: 5px;
    margin-left: 10px;
    width: 100%;
    height: 30px;
    text-align: left;
}

h5 {
    margin-top: 0;
    text-align: center;
}

span:hover {
    color: steelblue;
}

.container {
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 50px;
}

